.window-wrap { min-width: 0px!important; }

.view-course-info {
  .home {
    padding: 20px 0 10px;
  }
}

.course-info {
  .details {
    padding: 3%;
    width: 59%;
    border: 1px solid $ed-light-grey;
    border-radius: 10px;

    p {
      font: normal 300 16px/22px Open Sans;
    }

  }
}

.course-info {
  header.course-profile {
    height: auto;
    margin-top: 0px;
    overflow: visible;
    padding: 100px;

    .intro-inner-wrapper {
      border: 1px solid $ed-light-grey;
      border-radius: 10px;
      box-shadow: None;
    }
  }
}
