.window-wrap { min-width: 0px!important; }

.view-course-info {
  .home {
    padding: 20px 0 10px;
  }
}

.wrapper-course-material .course-tabs {
  padding-bottom: 0px;
}

.course-info {
  @include media($tablet-large) {
    .container {
      min-width: unset;
    }

    .course-sidebar {
      width: 100%;
    }
  }

  .details {
    padding: 3%;
    width: 59%;
    border: 1px solid $ed-light-grey;
    border-radius: 10px;

    @include media($tablet-large) {
      width: 100%;
    }

    p {
      font: normal 300 16px/22px Open Sans;
    }
  }

  header.course-profile {
    height: auto;
    padding: 100px;
    margin-top: unset;
    margin-bottom: 70px;

    @include media($tablet-large) {
      padding: 100px 0px 100px 0px;
    }

    .intro-inner-wrapper {
      border-radius: 10px;
      box-shadow: none;

      @include media($tablet-large) {
        min-width: unset;
      }

      &>div.table {
        margin-bottom: unset;

        @include media($tablet-large) {
          display: block;

          .intro {
            display: block;
            width: 100%;
          }

          .media {
            display: block;
            width: 100%;
          }
        }
      }

      .intro>.heading-group {
        margin-bottom: unset;
        padding-bottom: unset;
        border-bottom: unset;
      }
    }
  }
}
