.wrapper-footer {
  background: #E6E9EE;
}

footer {
  .row {
    margin-left: unset;
    margin-right: unset;
  }

  .logo-links {
    a {
      padding: 0 10px;
      color: $gray;
      font-weight: 500;

      &:first-child {
        padding-left: 0;
      }

      &:not(:first-child):not(:last-child) {
        padding-right: 15px;
        border-right: 1px solid #d6d6d6;
      }
    }
  }
}
