html, body {
  height: 100%;
  color: $black !important;
  font: normal 300 16px/22px Open Sans !important;
}

h1, h2 {
  color: $ed-grey-two !important;
  font: normal 300 28pt Open Sans !important;
}

h2 {
   a {
     color: $ed-blue-one !important;
   }
}

.window-wrap { height: 100%; }
.content-wrapper { min-height: calc(100% - 228px); }

.oauth2 {
  max-width: unset;
}
