.ed2go-header {
  color: $ed-lighter-grey !important;
  font-size: 1rem !important;
  font-weight: 400;
}

.header-global {
  height: 60px!important;

  @include media($tablet-large) {
    height: auto!important;
  }

  .wrapper-header {
    padding: 2px 0 0 0;
    @include media($tablet-large) {
      height: auto!important;;
    }
  }

  &.slim {
    .course-header {
      @include media($tablet-large) {
        margin: 0 10px!important;
      }
    }

    .wrapper-header {
      padding-top: 0!important;
    }
  }

  .user {
    @include media($tablet-large) {
      width: 25%;
    }

    .user-dropdown-menu {
      top: 60px;
      right: 30px;
      width: 160px;
      border-radius: 10px;

      li.dropdown-item {
        padding: 5px 0 0;
      }
    }

    .primary {
      .user-link.user-dropdown {
        outline: none;
        background: transparent;
        color: $ed-lighter-grey;
        font-family: 'Open Sans';

        .label-username {
          @include media($tablet-large) {
            margin: 0 15px;
          }
        }
      }
    }
  }

  .menu-title {
    color: $ed-lighter-grey !important;
  }
}
