body.view-learning-path.view-in-course {
    .window-wrap {
        min-width: 0;
    }
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.learning-path-main {

    .course-forum-statistics {
        padding: 10px 5px 20px 5px;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        background-color: #fff;
        margin-left: -10px;
        margin-right: -10px;

        .forum-stat-header {
            font-size: 14px;
        }

        .course-forum-left-border {
            border-left: 1px solid $lightest-grey;
        }

        .forum-stat-value {
            color: $ed-blue-one;
        }
    }

    .course-sections {
        background-color: $lightest-grey;

        .course-section-wrapper {
            display: inline-block;
            padding: 10px 5px;
            background-color: $lightest-grey;

            .course-section {
                padding: 10px;
                border: 1px solid $ed-light-grey;
                border-radius: 10px;
                background-color: $white;

                .course-section-header {
                    display: -webkit-box;
                    overflow: hidden;
                    height: 50px;
                    margin-bottom: 15px;
                    font-size: 18px;
                    text-align: center;
                    line-height: 25px;
                    transform: translateY(10px);
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }

                a.btn {
                    &:hover, &:visited, &:active {
                        color: $white;
                    }

                    margin: 15px 15% 5px;
                    width: 70%;
                    background-color: $ed-blue-one;
                    border-color: $ed-blue-one;
                }
            }
        }
    }

    .course-view.container {
        padding-bottom: 50px;
        background-color: $lightest-grey;
    }

    .profile-wrapper {
        background-color: $lightest-grey;
    }

    .page-header {
        border: none;
    }

    .progress-bar-wrapper {
        @include span-columns(12);
        padding: 13px 0px;

        .progress-bar {
          margin: 0 auto;
          border: 1px solid $ed-light-grey;
          border-radius: 10px;
          width: 300px;
          height: 20px;
          background-color: transparent;

          @include media($tablet-large) {
            width: 100%;
            margin-left: 0;
          }

          .legend {
            position: absolute;
            left: 50%;
            top: -8px;

            & > div { display: none; }

            table {
              position: relative!important;
              left: -50%!important;

              .legendColorBox { display: none; }

              .legendLabel {
                color: $ed-dark-grey;
                font-weight: 600;
              }
            }
          }
        }
      }
}
