@import 'ed2go/media';

@import 'lms/static/sass/lms-course';
@import 'ed2go/course-tabs';

#course-content {
  .sequence-nav {
    @include media($tablet-large) {
      justify-content: center;
    }
  }
  .sequence-list-wrapper {
    @include media($tablet-large) {
      display: none;
    }
  }

  #seq_content {
    @include media($tablet-large) {
      overflow-y: scroll;
    }
  }
}

.content-wrapper {
  min-height: calc(100vh - 245px);
}
